html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  display: flex;
  background: #c35;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #c35;
}

::selection {
  color: #fff;
  background: #c35;
}
